$font-stack: Montserrat;
$text-color: white;
$uniqueF-color: rgb(192,132,90);
$unique-color: transparent;
$box-bkg: #37415ba6;
$box-bkg2: #28e0dd;
$box-bkg3: #2897e0;
$box-bkg4: #1d41e0;
$box-bkg5: #1fdad7;
$box-bkg6: #1f90da;
$box-bkg7: #9c26f7;
$box-bkg8: #3ae2df;
$navB: rgb(7,18,47);
$btntxt-color: red;
$btnbox-bkg:rgb(57, 74, 100);
$specialF-color: lightgoldenrodyellow;
