.section {
    grid-column: 2/-1;
    grid-row: 8/14;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.736) , rgba(128, 128, 128, 0.714) , rgba(0, 0, 0, 0.593));
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    grid-template-rows: 50% 40%;
    .h2-s1 {
        grid-column: 1;
        grid-row: 1;
        align-self: self-start;
        justify-self: center;
        background: linear-gradient(300deg,lime, rgb(86, 236, 236));
        background-clip: text;
        -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        fill: transparent;
        color: transparent;
    }
    .text-s1 {
        grid-column:1;
        grid-row:1;
        align-self: center;
        margin-top: 15%;
        justify-self: center;
        color: white;
     
        
    }
    .h3-s1 {
        grid-column: 1;
        grid-row: 2;
        align-self: start;
        justify-self: center;
        background: linear-gradient(300deg,lime, rgb(86, 236, 236));
        background-clip: text;
        -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        fill: transparent;
        color: transparent;
        font-size: 1.3rem;
    }
    .ol-s1 {
        grid-column: 1;
        grid-row: 2;
        justify-items: center;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 6%;
        color: white;
        
    }
    
    
    
}