.section3 {
    grid-column: 2/-1;
    grid-row: 22/26;
    // background: linear-gradient(80deg, $box-bkg5 50%, $box-bkg6 100%);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.736) , rgba(128, 128, 128, 0.714) , rgba(0, 0, 0, 0.593));
    display: flex;
    flex-direction: row;
    .pos-h2 {
        justify-self: center;
        width: 50%;
        text-align: -webkit-center;
        .li-list {
            list-style-type: none;
        }
        .langu-h2 {
        font-size: 1.5rem;
        background: linear-gradient(300deg,#00ff40, #00ffff);
        background-clip: text;
        -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        fill: transparent;
        color: transparent;
        animation: fadein 3s;
        }
        .langu-ul {
            justify-content: center;
            color: white;
        .eng-img {
            width: 1.5em;
            justify-self: center;
            vertical-align: middle;
                
            }
         .swe-img {
            width: 1.5em;
            justify-self: center;
            vertical-align: middle;
            
            }
        .li-list.eng {
            list-style-type: none;
            font-size: 1.3em;
            align-self: center;
            margin-right: 0.4rem;
        }
        .li-list.swe {
            list-style-type: none;
            font-size: 1.3em;
            align-self: center;
           
        }
    }

    }
   
    .hobby-pos {
        justify-self: center;
        width: 50%;
        text-align: -webkit-center;
        .hobby-h2 {
            justify-self: center;
            font-size: 1.5rem;
            background: linear-gradient(300deg,#00ff40, #00ffff);
            background-clip: text;
            -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            fill: transparent;
            color: transparent;
        }
        .hobby-ul {
            place-self: center;
            color: white;
            
        }
        .li-list {
            list-style-type: none;
            font-size: 1.3em;
            padding-top: 5px;
        }
        .li-list.tt {
            margin-right: 6%;
        }
        .li-list.mg {
            margin-right: 10.5%;
        }
        .li-list.bs {
            margin-right: 11%;
            
        }
        .list-img {
            width: 1.5em;
            vertical-align: middle;
        }
    }
    
}