@import 'config';
@import 'breakpoint';
@import 'header';
@import 'main';
@import 'section';
@import 'section2';
@import 'section3';
@import 'footer';
@import 'keyframes';





body {
    margin: 0 20px;
    // -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url(../image/mountain1.svg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: 10%;
    
}

body * {
    box-sizing: border-box;
}


.content {
    display: grid;
    max-width: 100%;
    grid-template-columns:250px repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-rows: 1fr 2fr repeat(10, 1fr);
    height: 100%;
    width: 100%;
    font-family: $font-stack;
    background: $box-bkg;
    
}
.content > .topbar,
.content > .main  {
    background: $box-bkg;
}



/*
.content > * {
    padding: 20px;
    
}*/



@include tablet {
    .headerside.show {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 0fr 1fr repeat(2, 1fr);
        grid-template-columns: 30% 40% 30%;
    }
    .headerside {
        display: none;
        width: 100%;
        height: 100%;
        grid-template-rows: 0fr 1fr repeat(2, 1fr);
        grid-template-columns: 30% 40% 30%;

        .logo {
            grid-column: 2;
            place-self: center;
        }

        .header-menu {
            grid-row: 2;
            grid-column: 2;
            align-self: end;
        }
        .list-icons {
            grid-row: 4;
            grid-column: 2;
        }
        .dlboximg {
            grid-row: 3;
            grid-column: 2;
            place-self: center;
        }

        .linkb {
            background-color: rgb(57, 74, 100);
            width: 120px;        
            height: 50%;
            border-radius: 100px;
            place-self: self-start;
            position: sticky;
            grid-column: 1;
            grid-row: 1;
            display: block;
            cursor: pointer; 
            color: blue;     
    
        }  
        
    }

   .topbar {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: 20% 60% 20%;

        .top-h1 {
            grid-column: 2;
            text-align-last: center;
        }
        .boxbtn {
            justify-self: self-start;
            grid-column: 1;
            grid-row: 1;
           .linkb {
            background-color: rgba(57, 74, 100, 0);
            width: 80px;
            height: 40px;
            margin-top: 1rem;
            border-radius: 100px;
            justify-self: start;
            margin-block-end: auto;
            position: fixed;
            grid-column: 1;
            grid-row: 1;
            display: block;
            cursor: pointer; 
            color: red;     
    
        }  
        }
         
        
    }

    .main {
        grid-column: 1/13;
    }
    .section {
        grid-column: 1/13;
    }
    .section2 {
        grid-column: 1/13;

    }
    .section3 {
        grid-column: 1/13;
    }
    .footer {
        grid-column: 1/13;
    }
    .dropdownmenu {
        grid-row: 1/13;
        grid-column: 1/13;
        background: red;
    }
}

@include phone {
    .top-h1 {
        margin-left: 20%;
    }
}
@include phonexs {
    .headerside{
        .linkb {
            width: 80px;
            height: 40%;
        }
    }
    .main {
        .frame-img {
            width: 80%;
        }
    }
    .section {
        grid-template-rows: 58% 42%;
        .text-s1 {
            margin-top: 20%;
        }
        .ol-s1 {
            margin-top: 28%;
        }
    }
    .section2 {
        grid-row: 14/24;
        grid-template-rows: 54% 22% 24% 0%;
        .r-p1 {
            margin-top: 30%;
         }
    }

    .section3 {
        grid-row: 24/26;
        .twoboxpos {
           margin-top: 25%;
           
            
        }
    }
    
}
@include miniphonexs {
    .topbar {
        width: 20.5rem;
    }
}